<!DOCTYPE html>
<html>
  <head>
    <title>Application</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="app-variables" content="<%= {}.to_json %>" />
    <meta name="app-routes" content="<%= {}.to_json %>" />

    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
